/* Configurações gerais
________________________________________________________________________________________________________*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: rgb(230, 230, 230);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Configurações header
________________________________________________________________________________________________________*/
/* Configurações da tag header que está dentro da tag main */
header {
    text-align: center;
    height: 140px;
    background: rgb(247, 182, 0);
}

/* Configurações da tag h1 que está dentro do id logo */
header #logo h1{
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    margin: 0px 0 30px 0;
    padding-top: 15px;
}

/* Configurações da tag span que está dentro do id logo */
header #logo span {
    color: rgb(78, 78, 78);
}

/* Configurações da tag nav que está dentro da tag header */
nav {
    width: 500px;
    margin: 0 auto;
}

/* Configurações da tag ul que está dentro da tag nav */
nav ul {
    float: left;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

/* Configurações da tag li que está dentro da tag ul */
nav ul li {
    float: left;
}

/* Configurações da tag a que está dentro da tag li */
nav ul li a:link,
nav ul li a:visited,
nav ul li a:active {
    padding: 6px 20px 6px 20px;
}
nav ul li a:hover {
    color: rgb(247, 182, 0);
    background: rgb(255, 255, 255);
}

/* Configurações container
________________________________________________________________________________________________________*/
/* Configurações do id container que está dentro da tag main */
#container {
    width: 1050px;
    margin: 0 auto;
}

/* Configurações do id caixa1 que esta dentro do id container */
section#caixa1 {
    float:  left;
    width: 650px;
}

/* Confihurações do id caixa2 que está dentro do id container */
section#caixa2 {
    float: right;
    width: 350px;
}

/* Configurações da tag aside que esta dentro da tag section */
section aside {
    margin-top: 15px;
    padding: 15px;
    background: rgb(255, 255, 255);
}

/* Configurações do id titulo que está dentro da tag aside */
#caixa1 aside #titulo {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(165, 164, 164);
}

/* Cofigurações da tag h2 que está dentro do id titulo */
#caixa1 aside #titulo h2 {
    color: rgb(247, 182, 0);
}

/* Cofigurações da tag p que está dentro do id titulo */
#caixa1 aside #titulo p {
    font-size: 0.8em;
}

/* Configurações do id texto que esta dentro da tag saction */
section#caixa2 #texto {
    padding: 10px;
}

/* Configurções da tag h3 que esta dentro d id caixa2 */
section#caixa2 h3 {
    padding: 5px;
    margin-bottom: 5px;
    background: rgb(204, 204, 204);
    color: rgb(86, 86, 86);
}

/* Configurações da tag a que está dentro do id caixa2 */
section#caixa2 #texto a {
    color: rgb(247, 182, 0);
}
section#caixa2 #texto a:hover {
    text-decoration: underline;
}

/* Configurações da tag hr que está dentro do id caixa2 */
section#caixa2 #texto hr {
    margin: 5px;
}

/* Configrações da tag a que está dentro do id menu-lateral */
#caixa2 #menu-lateral a {
    color: rgb(247, 182, 0);
    display: block;
    text-align: center;
}
#caixa2 #menu-lateral a:hover {
    color: rgb(255, 255, 255);
    background: rgb(247, 182, 0);
    padding: 2px;
}


/* Configurações footer
________________________________________________________________________________________________________*/
footer {
    margin: 10px;
    padding: 10px;
    height: 25px;
    text-align: center;
    background: rgb(204, 204, 204);
}